.top-buffer { margin-top: 16px;}
.movetext{
  margin-top: 120px;
  margin-left: 40px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 26.4px;
}

.moveSmallText{
  margin-top: 10px;
  margin-left: 0px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 26.4px;
}
.signinBtn {
  padding: 10px 20px;
  border: 0 none;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #8064A2;
}

.registerBtn{
  padding: 10px 50px;
  border: 0 none;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #8064A2;
}
