<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <div class="logofooter"> Logo</div>
        <p></p>
        <p><i class="fa fa-map-pin"></i> 8025 Ohio DR APT 7303</p>
        <p><i class="fa fa-phone"></i> Phone : +1 (321) 205-6271</p>
        <p><i class="fa fa-envelope"></i> E-mail : rkodali10@outlook.com</p>

      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="https://www.udemy.com/courses/"> Udemy</a></li>
          <li><a href="https://github.com/kodali10/"> Github</a></li>
          <li><a href="http://wdmycloud.local/UI/"> WD Cloud</a></li>
          <li><a href="#"> Client Gateway</a></li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><a href="https://www.linkedin.com/in/raghav-k-315a2a145/"><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/"><i class="fa fa-youtube social-icon google" aria-hidden="true"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with Raghavendra Kodali</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">rkodali.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
