<div class="container-fluid">
  <div class="row">

    <div class="col-xs-9 col-lg-7">
      <a class="pull-left" href="http://localhost:4200/" class="col-xs-12"><img
        [src]='logoPath'
        alt=""

        style="max-height: 75px;">
      </a>

    </div>

    <div class="col-xs-11 col-lg-5 top-buffer">
      <button class="btn signinBtn pull-right" (click)="selectedFeature('signin')">Sign In</button>
    </div>

  </div>

</div>


<div class="movetext">
  It used to be chalk Board?
  <br>
  <div class="moveSmallText">
  Easy. Organized. Fun
  </div>
  <br>
  <button class="btn registerBtn pull-left" (click)="selectedFeature('signup')">Register Now!</button>
</div>






